@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@100..900&family=Limelight&family=Varela+Round&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Varela Round", serif;
}

.navbar {
    position: absolute;
    top: 50%;
    left: 0;
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255);
    border-radius: 0 13px 13px 0;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 1000;
    transition: all 0.3s ease-in-out;
}

.logo {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.logo img {
    height: 60px;
    margin-right: 20px;
}

.nav-links {
    list-style: none;
    padding: 10px 20px;
    margin-left: 30px;
    margin-right: 70px;
    gap: 50px;
    display: none; 
    flex-direction: row;
}

.nav-links li {
    margin: 10px 0;
    text-align: center;
}

.nav-links a {
    text-decoration: none;
    font-family: "Varela Round", serif;
    font-weight: 400;
    font-style: normal;
    color: #153e91;
    font-size: 16px;
    transition: color 0.3s ease-in-out;
}

.nav-links a:hover {
    color: #763fcf;
}

.navbar.active .nav-links {
    list-style: none;
    display: flex; 
}

.home {
    height: 100vh;
    width: 100%;
    position: relative;
}

.home-image {
    width: 100%;
    height: 100%;
    object-fit: cover ;
    opacity: 0.9;
}

.about{
    background-color: #f1f1f1;

}

.left{
    position: absolute;
    right: 40%;
    left: 90px;
    top: 118%;
    font-family: "Varela Round", serif;
    font-weight: 400;
    font-style: normal;
    color: #203890;
    font-size: 30px;
}
.left .know{
    text-decoration: none;
    font-size: 16px;
    color: #501f9e;
}

.left .know:hover{
    color: #6b6b9d;
}

.right{
    position: absolute;
    left: 65%;
}


.value-proposition {
    position: absolute;
    top: 160%;

}

.title {
    margin-left: 15%;
    font-size: 200px;
    font-weight: 20;
    color: #203890;
}

.subtitle {
    margin-left: 20%;
    font-size: 50px;
    color: #203890;
    margin-bottom: 20px;
}

.description {
    margin-left: 20%;
    margin-right: 20%;
    font-size: 18px;
    color: #203890;
    margin-bottom: 40px;
}


/* 
.thefront h1, .theback h1{
font-family: 'zilla slab', sans-serif;
padding: 30px;
font-weight: bold;
font-size: 24px;
text-align: center;
}

.thefront p, .theback p{
font-family: 'zilla slab', sans-serif;
padding: 30px;
font-weight: normal;
font-size: 12px;
text-align: center;
} */

.projects-list {
    width: 60%;
    margin-left: 19%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    gap: 20px;
  }
  
  .projects-list .card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width: 250px;
    height: 330px;
    margin-top: 50px;
    padding: 20px;
    background-color: transparent;
    border-radius: 0 40px 0 40px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    transform-style: preserve-3d;
    transition: all 0.8s ease;
  }
  
  .thefront{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    overflow: hidden;
    color: #000;
    }
    
    .theback{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius:40px 0 40px 0;
    backface-visibility: hidden;
    overflow: hidden;
    background: #fafafa;
    color: #333;
    text-align: center;
    transform: rotateY(180deg);
    }
    
  .card img {
    width: 300px;
    height: 250px;
    object-fit: cover;
    filter: brightness(0.5);
  }
  
  .card .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .project-info p {
    margin-bottom: 20px;
  }
  .projects-list .card:hover {
    transform: rotateY(180deg);
  }


  
.footprint {
    position: absolute;
    top: 340%;
    background-color: #153e91;
}
.footprint .title {
    margin-left: 15%;
    font-size: 200px;
    font-weight: 20;
    color: #ffffff;
}

.footprint .subtitle {
    margin-left: 20%;
    font-size: 50px;
    color: #ffffff;
    margin-bottom: 20px;
}

.footprint .description {
    margin-left: 20%;
    margin-right: 20%;
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 40px;
}

.stats-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    text-align: center;
}

.stat {
    background-color: #0074d9; 
    border-radius: 8px;
    padding: 1.5rem;
    width: 200px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}

.stat:hover {
    transform: scale(1.05);
}

.icon-container img {
    width: 80px;
    height: 80px;
    margin-bottom: 1rem;
}

.stat h2 {
    font-size: 2rem;
    margin: 0.5rem 0;
}

.stat p {
    font-size: 1.2rem;
    margin: 0;
}

.products {
    position: absolute;
    top: 450%;
}